.book-find-form {
  position: relative;
}

.book-find-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.book-find-form .form-control {
  padding-right: 60px;
}