.panel-title > a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #3c3c3c;
  transition: all .3s;
}

.panel-title > a:hover {
  background: #777;
  color: #fff;
}

.panel-heading {
  padding: 0;
}

.favorite .panel-title > a:hover {
  background: #4b730b;
}